.admin-sidebar {
  width: 220px;
  min-height: 100vh;   /* ← Esto hace que mida al menos 100vh */
  height: auto;        /* ← Esto permite que crezca si el contenido es mayor */
  background-color: #db678e;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.admin-logo {
  text-align: center;
  margin-bottom: 30px;
}

.admin-user {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.admin-nav button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #ff00bf;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
}

.admin-nav button:hover {
  background-color: #5b21b6;
}

.admin-logout {
  text-align: center;
}

.admin-logout button {
  width: 100%;
  padding: 10px;
  background: #d946ef;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.admin-logout button:hover {
  background: #c026d3;
}

@media (max-width: 768px) {
    
    .admin-sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-250px);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .admin-sidebar.sidebar-open {
        transform: translateX(0);
    }

    .admin-logo, .admin-user {
        margin-bottom: 20px;
        font-size: 0.9em;
    }

    .admin-nav {
        flex-grow: 1;
    }

    .admin-nav button, .admin-logout button {
        padding: 12px;
        font-size: 1em;
        white-space: normal;
    }
    
    
    .app-content {
        margin-left: 0;
        padding-top: 50px;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001; 
        padding: 10px;
        background: #db678e;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}