.login-background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    background: rgba(255, 255, 255, 0.95);
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.logo-container {
    margin-bottom: 1rem;
}

.logo {
    width: 160px;
    height: 140px;
    object-fit: contain;
    display: inline-block;
}

.header-texts {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 2rem auto; 
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  color: #ce8bba;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: normal;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.75rem 0 0 0;
  max-width: 100%;
  line-height: 1.4;
  color: #000000;
}

input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px #4caf50;
}

.error {
    color: #e53935;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    display: block;
}

.btn-login {
    background-color: #ea00ff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #cc008f;
}

.link {
    color: #ce8bba;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: #c24b83;
}

/* --- ESTILOS RESPONSIVE --- */

@media (max-width: 550px) {
    
    .login-container {
        padding: 1.5rem; 
        margin: 10px;
    }


    h1 {
        font-size: 1.5rem;
        white-space: normal; 
    }
    
    h2 {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .logo {
        width: 140px;
        height: 120px;
    }
    
    input {
        padding: 0.6rem;
        font-size: 0.95rem;
    }

    .btn-login {
        padding: 0.65rem;
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    
    .login-container {
        padding: 1rem;
    }
    
    h1 {
        font-size: 1.4rem;
    }
    
    .logo {
        width: 120px;
        height: 100px;
    }
}